:root{
    --top-color:#F5F5F5;
    --header-color:#FFFFFF;
    --main-color: #2F303A;
    --second-color: #F5F4FA;
    --card-color:#EEEEEE;
    --title-color:#212121;
    --text-color:#757575;
    --accent-color:#2196F3;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--top-color);
    color:var(--text-color)
}

/* Оформлення шапки */
.header{
    background-color: var(--header-color);
    font-weight: 500;
}
.link{
    text-decoration: none;
    color:var(--title-color);
}
.list{
    list-style: none;
}
.logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color:var(--accent-color);
}
.logo-header{
    color:var(--title-color)
}
 .logo-footer{
    color:var(--header-color)
}
.header-nav .header-menu:hover, 
.header-nav .header-menu:focus{
    color:var(--accent-color);
}

/* Головна сторінка - main*/
.main-container{
    background:var(--main-color);
}
.title-main{
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.main-button{
    position: ;
    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    background: #2196F3;
    color:var(--header-color);
}
[type="button"]:hover{
    color:#2F303A;
}

/* Переваги */
.benefit{

}
.benefit-title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
}
.benefit-text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--text-color);
}
/* Чим займаємося& */
.work{

}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}
.foto {
    position: ;
    width: 270px;
    height: 260px;
    left: 1115px;
    top: 1632px;
    background: url(2968);
    border-radius: 0px;
}

/* наша команда */ 
.team {
    background: var(--second-color);
}
.team-card{
    background: url(4853.jpg);
    border-radius: 0px;
}
.team-name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.team-aside {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

/* Підвал */
.footer{
    background-color:var(--main-color);
}
.footer-link{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
 /*Сторінка портфоліо */

 /* Кнопки */

 .button{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
 }
 .button:hover, .button:focus{
    background:var(--accent-color);
    color:var(--header-color);

 }
 /* Картки з меню */
.caption{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--title-color);
}
.card-desc{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

 