body {
    font-family: 'Roboto';
    font-style: normal;
}

/*Заголовок*/
.title {
    background: #2F303A;
}
.title-text{
    color:#FFFFFF;
}
/*Переваги*/
.benefit {
    background: #F5F5F5;
}
/* Наша команда*/
.team {
    background: #F5F4FA;
}